
// Bootstrap CSS
@import "bootstrap.less";
@import "responsive.less";

html {
  height: 100%;
}

body {
  // to account for gradient extending to window
  height: 100%;
  background-attachment: fixed;
  #gradient > .vertical(@white, #dfdfdf);
}

/*
 * Styling for hero unit up top
 */

.container:first-child {
  margin-top: 10px;
}

.btn > [class^="icon-"], [class*=" icon-"] {
  margin-top: 3px;
  margin-right: 7px;
}

.hero-unit {
  background: inherit;
  text-align: center;
}

.hero-unit > img {
  width: 72%;
  .center-block();
}

.hero-unit > hr {
  color: @grayLight;
  background-color: @grayLight;
  height: 1px;
}

.hero-unit span {
  font-size: 48px;
  font-weight: 100;
  color: @grayLight;
  margin-right: 5px;
}

.hero-unit .btn {
  margin-left: 5px;
  margin-top: -20px;
  color: lighten(@red, 10%);
  font-weight: 200;
}

/*
 * Styling for email form
 */

#learningform {
  text-align: center;
}

#learningform span {
  display: inline-block;
}

#learningform input[type="email"] {
  width: 160px;
}

#learningform input[type="submit"] {
  width: 40px;
}
