
// Bootstrap CSS
@import "bootstrap.less";
@import "responsive.less";

.container:first-child {
  margin-top: 10px;
}

.btn > [class^="icon-"], [class*=" icon-"] {
  margin-top: 3px;
  margin-right: 7px;
}

.hero-unit {
  background: inherit;
}

.hero-unit > img {
  width: 100%;
}

.hero-unit > hr {
  height: 5px;
}

.hero-unit span {
  font-size: 42px;
  font-weight: 100;
  color: @grayLight;
}

.hero-unit .btn {
  width: 20%;
}
